.features__content {
  position: relative;
  overflow: hidden;
  @include container-fluid;
  margin-top: -19*$grid-unit;
  margin-bottom: $grid-unit*4;
  padding-top: $grid-unit*22;
  background-color: $color-primary;

  @media (min-width: $l) {
    overflow: visible;
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 80px;
  }

  &-item {

    &-img {
      display: none;

      @media (min-width: $l) {
        flex-shrink: 0;
        display: block;
        margin-top: -98px;
        margin-left: 10px;
      }
    }

    &-desc {
      color: $color-secondary;

      @media (min-width: $l) {
        width: 590px;
        margin-left: 45px;
      }
    }
  }

  &-title {
    display: none;
    color: $color-secondary;
    padding-left: 50px;
    margin-bottom: 40px;

    &.h1 {
      margin-bottom: 40px;
    }


    @media (min-width: $l) {
      display: block;
    }
  }

  &-list {
    counter-reset: content-counter;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-list-item {
    counter-increment: content-counter;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $color-secondary;

    &:before {
      content: counter(content-counter);
      border-radius: 50%;
      margin-right: $grid-unit*4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: 30px;
      height: 30px;
      font-family: $font-secondary;
      font-weight: 700;
      font-size: 18px;
      color: $color-primary;
      background-color: $color-secondary;
    }

    &:last-of-type {
      .features__content-list-item-desc {
        border-bottom: none;
      }
    }
  }

  &-list-item-desc {
    flex-grow: 1;
    padding: $grid-unit*3 0;
    border-bottom: 1px dashed $color-silverChalice;

    @media (min-width: $l) {
      padding: 12px 0;
    }

    p, span{
      font-size: 18px;
      line-height: 24px;
    }
  }

  &--wrapper {
    display: block;
    @include container;

    @media (min-width: $l) {
      display: flex;
      justify-content: space-between;
    }
  }
}