.features__content
	.features__content--wrapper
		.features__content-item.features__content-item-img
			img(src="img/img/img_monitor.png" width="503" height="491" alt="Монитор")
		.features__content-item.features__content-item-desc
			h2.features__content-title Title text
			ol.features__content-list
				li.features__content-list-item
					.features__content-list-item-desc
						p Duis aute irure dolor in reprehenderit<sup>1</sup> in voluptate velit
				li.features__content-list-item
					.features__content-list-item-desc
						p Ullamco laboris nisi ut aliquip ex ea commodo	consequat
				li.features__content-list-item
					.features__content-list-item-desc
						p Ut enim ad minim veniam, quis nostrud exercitation
				li.features__content-list-item
					.features__content-list-item-desc
						p Et dolore magna aliqua
				li.features__content-list-item
					.features__content-list-item-desc
						p Sed do eiusmod tempor<sup>2</sup> incididunt ut labore
				li.features__content-list-item
					.features__content-list-item-desc
						p Lorem ipsum dolor sit amet<sup>3</sup>, consectetur adipisicing elit