.features
	.features--wrapper
		.features__item.features__item-img
				img(src="img/img/img_monitor.png" width="503" height="491" alt="Монитор")
		.features__item.features__item-content
			h2.features__title Title text
			ol.features__list
				li.features__list-item
					a(href="#" class="features__list-link")
						span.features__list-link-text Duis aute irure dolor in reprehenderit<sup>1</sup> in voluptate velit
				li.features__list-item
					a(href="#" class="features__list-link")
						span.features__list-link-text Ullamco laboris nisi ut aliquip ex ea commodo	consequat
				li.features__list-item
					a(href="#" class="features__list-link")
						span.features__list-link-text Ut enim ad minim veniam, quis nostrud exercitation
				li.features__list-item
					a(href="#" class="features__list-link")
						span.features__list-link-text Et dolore magna aliqua
				li.features__list-item
					a(href="#" class="features__list-link")
						span.features__list-link-text Sed do eiusmod tempor<sup>2</sup> incididunt ut labore
				li.features__list-item
					a(href="#" class="features__list-link")
						span.features__list-link-text Lorem ipsum dolor sit	amet<sup>3</sup>, consectetur adipisicing elit