.form-request__select.select
	select.select__item(id="form-select")
		option(value="hide") Select your country
		option(value="USA") USA
		option(value="Canada") Canada
		option(value="Russian Federation") Russian Federation
	span(class="select__error")
		| Choose an option