section.banner-header
	.banner-header--wrapper
		.banner-header__item.banner-header__item-info
			h1.banner-header__title
				| Banner header
			.banner-header__desc
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
				| do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				| Ut enim ad minim veniam, quis nostrud
		.banner-header__item.banner-header__item-form
			include ../form-request/form-request