section.posts
	.posts--wrapper
		- var postTitle = "Post header 1";
		- var postDesc = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ";
		- var postImg = 'img/img/img_post-1.jpg';
		include ../../components/posts/__item/posts__item
		- var postTitle = "Post header 2";
		- var postDesc = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ";
		- var postImg = 'img/img/img_post-2.jpg';
		include ../../components/posts/__item/posts__item
		- var postTitle = "Post header 3";
		- var postDesc = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ";
		- var postImg = 'img/img/img_post-3.jpg';
		include ../../components/posts/__item/posts__item
		- var postTitle = "Post header 4";
		- var postDesc = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ";
		- var postImg = 'img/img/img_post-4.jpg';
		include ../../components/posts/__item/posts__item
		- var postTitle = "Post header 5";
		- var postDesc = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ";
		- var postImg = 'img/img/img_post-5.jpg';
		include ../../components/posts/__item/posts__item
