footer.features__footer
	.features__footer--wrapper
		.features__footer-footnotes.footnotes
			ol.footnotes__list
				li.footnotes__list-item
					.footnotes__list-item-desc
						p Reprehenderit - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
				li.footnotes__list-item
					.footnotes__list-item-desc
						p Tempor - Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				li.footnotes__list-item
					.footnotes__list-item-desc
						p Amet - Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.