h1, .h1 {
    font-family: $font-secondary;
    font-size: 56px;
    font-weight: bold;
    line-height: $grid-unit*7;
    letter-spacing: 0.01em;
    margin-top: 0;
    margin-bottom: $grid-unit*4;

    @media (max-width: 375px) {
        font-size: 36px;
        line-height: 36px;
    }
}

h2, .h2 {
    font-family: $font-secondary;
    font-size: 40px;
    font-weight: bold;
    line-height: $grid-unit*5;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: $grid-unit*3;

    @media (max-width: 375px) {
        font-size: 30px;
        line-height: 30px;
    }
}

h3, .h3 {
    font-family: $font-secondary;
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: $grid-unit*3;

    @media (max-width: 375px) {
        font-size: 28px;
        line-height: 28px;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

ul:not([class]) {

    li {
        margin: 0;
        margin-bottom: $grid-unit*3;
        padding-left: $grid-unit*3;
        position: relative;

        &:last-of-type {
            margin-bottom: 0;
        }

        &:after {
            content: '';
            height: 6px;
            width: 6px;
            background: $color-primary;
            display: block;
            position: absolute;
            transform: rotate(45deg);
            top: $grid-unit;
            left: 0;
        }
    }
}

ol:not([class]) {
    list-style: none;
    margin: 0;
    padding-left: 0;
    counter-reset: my-awesome-counter;
    margin-bottom: $grid-unit*3;

    li {
        margin: 0;
        margin-bottom: $grid-unit*3;
        counter-increment: my-awesome-counter;
        padding-left: $grid-unit*3;
        position: relative;

        &:last-of-type {
            margin-bottom: 0;
        }

        &:before {
            content: counter(my-awesome-counter) ". ";
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            font-family: $font-secondary;
            font-weight: 700;
            letter-spacing: -0.32px;
        }
    }

    ol {
        margin-top: $grid-unit*2;
        margin-bottom: $grid-unit*2;
        margin-left: $grid-unit;
        counter-reset: listStyle;

        li {
            margin: 0;
            margin-bottom: $grid-unit*3;
            counter-increment: listStyle;
            padding-left: $grid-unit*3;
            position: relative;

            &:last-of-type {
                margin-bottom: 0;
            }

            &:before {
                content: counter(listStyle, lower-latin) ".";
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                font-family: $font-tertiary;
                font-weight: 700;
                letter-spacing: -0.32px;
            }
        }
    }
}

p {
    font-size: 14px;
    margin: 0;
    margin-bottom: $grid-unit;

    &:last-of-type {
        margin-bottom: 0;
    }
}

a {
    color: $color-primary;
  text-decoration: none;
    transition: $transition;
}